#sobre {
  background-color: #fffaf3;
  padding: 100px 0px;
  height: 100vh;
}

.sobre {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
  color: #6a432d;
}

.sobre h2 {
  font-family: "Cinzel Decorative", serif;
  font-size: 40px;
  /* Tamanho atualizado para h2 */
  margin-bottom: 25px;
  color: #6a432d;
}

.sobre p {
  font-family: "Bellefair", serif;
  font-size: 20px;
  /* Tamanho atualizado para p */
  margin-bottom: 50px;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.redes-sociais a {
  text-decoration: none;
  color: #7b4a18;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.redes-sociais img {
  max-width: 50px;
}

.elementos-sobre {
  display: grid;
  grid-template-columns: 500px 500px;
}

.sobre-elementos {
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sobre-elementos h4 {
  font-family: "Cinzel Decorative", serif;
  font-size: 40px;
  /* Tamanho atualizado para h4 */
  line-height: 1.25;
}

.sobre-elementos p {
  font-family: "Bellefair", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
}

/* Media Query para telas menores */
@media (max-width: 520px) {
  #sobre {
    padding: 50px 0px;
  }

  .sobre h2 {
    font-size: 2rem;
    /* Tamanho para telas menores */
  }

  .sobre p {
    font-size: 1rem;
    /* Tamanho para telas menores */
  }

  .sobre-elementos h4 {
    font-size: 1.5rem;
    /* Tamanho para telas menores */
  }
}