

.register-form {
    max-height:100%;
    background-color: #fffaf3;

}

.user-management h2 {
    font-family: "Cinzel Decorative", serif;
    color: #6a432d;
}

.register-form input{
    font-family: "Bellefair", serif;
    background-color: #fffaf3;
}

.register-form button {
    font-family: "Cinzel Decorative", serif;
    background-color:#343434;
}