#produtos {
    font-family: "Bellefair", serif;
    font-optical-sizing: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0 auto;
    background-color: #fffaf3;
}
.btn-comprar {
    margin: 20px;
    font-family: "bellefair", serif;
    padding: 10px;
    background-color: #6a432d;
    color: #fffaf3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.secao-produtos {
    font-family: "Bellefair", serif;
    font-optical-sizing: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.secao-produtos p {
    font-family: "Bellefair", serif;
    font-optical-sizing: auto;
    font-size: 1.4rem;
    color: #6a432d;
}

.titulos {
    font-family: "Cinzel Decorative", serif;
    font-optical-sizing: auto;
    margin-bottom: 25px;
    font-size: 2.5rem;
    color: #6a432d;
}

.paragrafo {
    font-family: "Bellefair", serif;
    font-optical-sizing: auto;
    margin-bottom: 25px;
    color: #dbc1a8;

}

.plano-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 50px 0px;
}

.card-plano picture img {
    width: 80%;
    height: auto;
    max-height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-plano {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dbc1a8;
    border-radius: 5px;
}

.card-plano h3 {
    font-family: "Cinzel Decorative", serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    color: #6a432d;
}

.card-plano p {
    font-family: "Bellefair", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-size: 1.25rem;
}

.lista-plano {
    font-family: "Cinzel Decorative", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0px 20px;
}

.lista-plano p {
    font-family: "Bellefair", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 25px;
}
